/*import google font*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*reset browser specific styles*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}
a{
	color: inherit;
}
/*navbar*/
.navbar{
	width: 100%;
	height: 59px;
	overflow: hidden;
	padding: 0 5%;
	position: fixed;
	top: 0;
	z-index: 99;
	font-size: 15px;
	line-height: 1.8;
	color: #000;
	background-color: #fff;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.nav-l{
	float: left;
}
.nav-r{
	float: right;
}
.navbar a{
	width: auto;
	padding: 16px;
	cursor: pointer;
}
.navbar .logo{
	letter-spacing: 4px;
}
.navbar .logo img{
	width: 24px;
	vertical-align: middle;
}
.navbar a:hover{
	background-color: #ccc;
}
/*banner*/
.banner-bg{
	height: 100vh;
	background-position: center;
    background-size: cover;
    background-image: url(../images/banner.jpg);
}
.banner{
	overflow: hidden;
	padding: 110px 7% 20px 7%;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}
.banner .banner-lg{
	font-size: 64px;
}
.banner .banner-sm{
	margin: 40px 0 60px 0;
	font-size: 22px;
}
.banner .banner-btn{
	padding: 18px 24px;
	font-size: 22px;
	background-color: #fff;
	opacity: 0.70;
	color: #000;
}
.banner .banner-social{
	position: absolute;
	bottom: 20px;
}
.banner .banner-social a{
	font-size: 22px;
	color: #fff;
	opacity: 0.60;
}
.banner .banner-btn:hover, .banner .banner-social a:hover{
	opacity: 0.90;
}
@media only screen and (max-width: 605px){
	.banner{
		padding-top: 30vh;
	}
	.banner .banner-lg{
		font-size: 40px;
	}
	.banner .banner-btn{
		padding: 12px 24px;
	}
	.banner .banner-sm, .banner .banner-btn, .banner .banner-social{
		font-size: 18px;
	}
}
/*helpers*/
.head{
	text-align: center;
	font-weight: 400;
	padding-top: 110px; 
	font-size: 32px;
}
.detail{
	text-align: center;
	margin: 28px;
	font-size: 18px;
}
/*showcase*/
.slick-prev{
	left: 2%;
}
.slick-next{
	right: 2%;
}
.slick-next:before, .slick-prev:before {
    font-size: 20px;
    color: #000;
}
.cars, .tyres{
	width: 100%;
	padding: 20px 5%;
	margin: auto;
	background-color: #f1f1f1;
}
.car, .tyre{
	height: 250px;
	margin: 0 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
}
.car img, .tyre img{
	width: 100%;
	height: 100%;
	margin: auto;
}
.car:hover, .tyre:hover{
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
@media only screen and (max-width: 600px){
	.car, .tyre{
		height: 160px;
	}
}
@media only screen and (max-width: 480px){
	.car, .tyre{
		height: 200px;
	}
}
/*footer*/
.footer{
	background-color: #f1f1f1;
	padding: 20px 7%;
	padding-bottom: 30px;
}
.footer .contact{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer .form{
	width: 50%;
	padding: 0px 20px;
}
.footer .form input{
	width: 100%;
	height: 40px;
	margin: 5px 0;
	padding: 10px 15px;
	border: 1px solid #000;
	border-radius: 2px;
}
.footer .form input[type="submit"]{
	font-size: 16px;
	border: none;
	background-color: #000;
	color: #fff;
}
.footer .location{
	width: 50%;
	margin: 5px 0;
	padding: 0px 20px;
}
#map{
	width: 100%;
	height: 100%;
	border-radius: 2px;
}
.foot-end{
	width: 100%;
	height: 59px;
	padding: 10px 7%;
	font-size: 18px;
	line-height: 2;
	text-align: center;
	background-color: #000;
	color: #fff;
}
@media only screen and (max-width: 600px){
	.footer .contact{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer .form, .footer .location{
		width: 100%;
	}
	.footer .location{
		margin-top: 30px;
	}
	#map{
		height: 200px;
	}
}