<% include partials/header %>

<div class="banner-bg">
    <div class="banner">
        <p class="banner-lg">We take care of your wheels</p>
        <p class="banner-sm">Buy tyres for your vehicle and drive safe on roads.</p>
        <a href="" class="banner-btn">Start shopping now!</a>
        <div class="banner-social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>

<p class="head">CAR BRANDS</p>
<p class="detail">We have many car brands to serve you.</p>
<div class="cars">
    <div class="car">
        <a href="/car/honda"><img src="/images/honda.jpg"></a>
    </div>
    <div class="car">
        <a href="/car/hyundai"><img src="/images/hyundai.jpg"></a>
    </div>
    <div class="car">
        <a href="/car/suzuki"><img src="/images/suzuki.png"></a>
    </div>
    <div class="car">
        <a href="/car/toyota"><img src="/images/toyota.jpg"></a>
    </div>
</div>

<p class="head">TYRE BRANDS</p>
<p class="detail">We have many tyre brands to serve you.</p>
<div class="tyres">
    <div class="tyre">
        <img src="/images/bridgestone.jpg">
    </div>
    <div class="tyre">
        <img src="/images/mrf.jpg">
    </div>
    <div class="tyre">
        <img src="/images/apollo.jpg">
    </div>
    <div class="tyre">
        <img src="/images/usm.jpg">
    </div>
</div>

<% include partials/footer %>